@{
    ViewData["Title"] = "Thêm giảng viên";
}

<div class="container mt-4">
    <h3 class="fw-bold mb-4">Thêm giảng viên</h3>

    <form asp-action="ThemGiaoVien" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label fw-bold">Chọn người dùng</label>
            <select name="MaNguoiDung" class="form-select" required>
                <option value="">-- Chọn người dùng --</option>
                @foreach (var nd in ViewBag.DSNguoiDung as SelectList)
                {
                    <option value="@nd.Value">@nd.Text</option>
                }
            </select>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Chuyên môn</label>
                <input name="ChuyenMon" class="form-control" placeholder="VD: IELTS, Ngữ pháp" required />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Trình độ</label>
                <select name="TrinhDo" class="form-select" required>
                    <option value="">-- Chọn trình độ --</option>
                    <option>Giáo viên bản ngữ</option>
                    <option>Thạc sĩ Ngôn ngữ Anh</option>
                    <option>Đại học Ngôn ngữ Anh</option>
                    <option>Cao đẳng</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Kinh nghiệm</label>
            <input name="KinhNghiem" class="form-control" placeholder="VD: 3 năm giảng dạy" />
        </div>

      

      
        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-action="GiaoVien" class="btn btn-secondary">Hủy</a>
    </form>
</div>
