@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center py-5">
    <h3 class="text-primary fw-bold mb-3">Yêu cầu của bạn đã được ghi nhận</h3>
    <p class="text-muted">Vui lòng chờ lễ tân hoặc admin xác nhận trước khi làm bài test.</p>
    <img src="~/WebTTImages/waiting.png" alt="Waiting" class="img-fluid" width="280" />
</div>

